<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>まるで自習室のようなカフェ 木と本</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%= yield %>
</body>
</html>