<header class="menu-header">
        <div class="menu-title">
            <h1>MENU</h1>
        </div>
</header>
<div class="menu-wrapper">
    <div class="lunch">
        <h2 class="l-t">LUNCH MENU</h2>
        <div class="lunch-contents">
            <img src="../../img/menu_lunch.jpeg" alt="">
            <div class="lunch-text" id="lunch">
                <h2 class="lunch-t"><span>カラダが喜ぶ "おいしい" を。</span><br><span>人気の「キッシュプレート」</span></h2>
                <h3>ヘルシーのワケ①「ローカロリー」</h3>
                <p>カロリー計算をしており700kcalのキッシュプレート（税込880円）から選べます。栄養バランスがいい上に、さらにカロリーも計算されてる優れもの！老若男女t問わず、意識の高い方に人気です。</p>
                <h3>ヘルシーのワケ②「減塩」</h3>
                <p>ベジブロスを使うなどして食塩量を１日推奨量の1/3以下に計算しています。減塩は健康効果だけでなく、むくみの予防など美容面にも効果的です。</p>
                <h3>ヘルシーのワケ③「まごわやさしい」</h3>
                <p>多種多様な食品を取り合わせ、各栄養素をバランス良くとるためのキーワード「まごわやさしい」。木と本のキッシュプレートには、さらにお肉も入ってます。ま＝まめ　ご＝ごま　わ＝わかめ　や＝やさい　さ＝さかな　し＝しいたけ　い＝ いも</p>
            </div>
        </div>
    </div>
    <h2 class="l-t">OTHER MENU</h2>
    <div class="hover_image_wrap">
        <div class="hover_image">
            <a href="#">
                <div class="rotate_image"><img src="../../img/menu05.jpeg" alt=""></div>
                <div class="rotate_txt"><p class="caption_txt">モーニングプレート<br>¥300(税込)</p></div>
            </a>
        </div>
        <div class="hover_image">
            <a href="#">
                <div class="rotate_image"><img src="../../img/menu06.jpeg" alt=""></div>
                <div class="rotate_txt"><p class="caption_txt">サラダボウル<br>手ごねハンバーグ<br>¥750(税込)</p></div>
            </a>
        </div>
        
        <div class="hover_image">
            <a href="#">
                <div class="rotate_image"><img src="../../img/menu07.jpeg" alt=""></div>
                <div class="rotate_txt"><p class="caption_txt">ホットサンド<br>チリコンカン<br>¥580(税込)</p></div>
            </a>
        </div>
        <div class="hover_image">
            <a href="#">
                <div class="rotate_image"><img src="../../img/menu08.jpeg" alt=""></div>
                <div class="rotate_txt"><p class="caption_txt">フレンチトースト<br>¥580(税込)</p></div>
            </a>
        </div>
    </div>
    <div class="hover_image_wrap">
        <div class="hover_image">
            <a href="#">
                <div class="rotate_image"><img src="../../img/menu01.jpeg" alt=""></div>
                <div class="rotate_txt"><p class="caption_txt">期間限定！<br>ヨーグルトタルトアイス<br>¥600(税込)</p></div>
            </a>
        </div>
        <div class="hover_image">
            <a href="#">
                <div class="rotate_image"><img src="../../img/menu04.jpeg" alt=""></div>
                <div class="rotate_txt"><p class="caption_txt">アフォガード<br>¥540(税込)</p></div>
            </a>
        </div>
        <div class="hover_image">
            <a href="#">
                <div class="rotate_image"><img src="../../img/menu10.jpeg" alt=""></div>
                <div class="rotate_txt"><p class="caption_txt">木と本パフェ<br>¥880(税込)</p></div>
            </a>
        </div>
        <div class="hover_image">
            <a href="#">
                <div class="rotate_image"><img src="../../img/menu09.jpeg" alt=""></div>
                <div class="rotate_txt"><p class="caption_txt">ヨーグルトタルト<br>¥580(税込)</p></div>
            </a>
        </div>
    </div>
    <div class="rd-btn menu-btn"><a href="http://localhost:4567/mypage">マイページ</a></div>
</div>

<footer class="mypage-footer">
        <div class="insta"><a href="https://www.instagram.com/cafe_kitohon/?hl=ja" target="_blank"><img src="../../img/insta.png" alt="インスタ" ></a></div>
        <div class="twitter"><a href="https://twitter.com/CAFE_KITOHON?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" target="_blank"><img src="../../img/twitter.png" alt="ツイッター" ></a></div>
        <div class="copy">Copyright © 木と本 All Rights Reserved.</div>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/gsap.min.js"></script>

