
<div class="signin-wrapper">
  <div class="signin-contents">
    <form class="signin-form" action="/signup" method="post">
    <img class="signin-img" src="../../img/logo2.svg" alt="">
      <div>
        <label for="name"></label>
        <input class="signin-info" type="text" name="name" placeholder="user name">
      </div>
      <div>
          <label for="email"></label>
          <input class="signin-info" type="email" name="email" placeholder="email address">
      </div>
      <div>
          <label for="password"></label>
          <input class="signin-info" type="password" name="password" placeholder="password">
      </div>
      <input class="signin-btn"  type="submit" value="新規登録">
            <p class="message"><a href="http://localhost:4567/signin">アカウントをお持ちの方はこちら</a></p>
    </form>
  </div>
</div>