<div id="home" class="big-bg">
    <header class="page-header wrapper">
        <h1><a href="http://localhost:4567/toppage"><img class="logo" src="../../img/logo2.svg" alt="木と本ロゴ"></a></h1>
            <nav>
                <ul class="main-nav">
                    <li><a href="#concept">CONCEPT</a></li>
                    <li><a href="#fellow">FELLOW</a></li>
                    <li><a href="#coffee">COFFEE</a></li>
                    <li><a href="#food">FOOD</a></li>
                    <li><a href="#shopinfo">SHOP INFO</a></li>
                    <li class="sns"><a href="https://www.instagram.com/cafe_kitohon/?hl=ja" target="_blank"><img src="../../img/insta2.png" alt="インスタ" ></a></li>
                </ul>
            </nav>
        <a class="login-btn btn" href="http://localhost:4567/signin">LOGIN</a>
    </header>
    <div class="home-content wrapper">
            <h2 class="page-title">木と本</h2>
            <p>まるで自習室のようなカフェ</p>
    </div>
</div>

<div class="news">
    <h3 class="contents">NEWS</h3>
    <div class="wrapper grid">
        <div class="item">
            <img src="../../img/news1.jpeg" alt="">
            <p class="date">2021.05.01</p>
            <p>コロナ対策のためにパーテンションを設置しました。</p>
        </div>
        <div class="item">
            <img src="../../img/news2.jpeg" alt="">
            <p class="date">2021.04.11</p>
            <p>新しいメニューが加わりました。</p>
        </div>
        <div class="item">
            <img src="../../img/news3.jpeg" alt="">
            <p class="date">2021.04.01</p>
            <p>テイクアウトやっています。</p>
        </div>
    </div>
</div>

<div id="concept" class="concept">
    <h3 class="contents concept-title">わたしのもう一つの居場所、木と本</h3>
    <div class="concept-item">
        <img src="../../img/fellow.jpeg" alt="自習室">
        <p>木と本は自宅でも職場でも学校でもない第三の場 "The 3rd Place" です。喫茶のほか、一人で読書や勉強、お仕事にロングステイもしやすい空間デザイン。あなたのライフスタイルのどんなシーンにも自然と溶け込む、あなたのもう一つの居場所です。読書、勉強、お仕事も。いつもと違う場所でいかがでしょう。CAFE木と本は、まるで自習室のように使っていただけます。席数はおよそ50席、館内を奥に進むほど、お一人席が多くなってます。程よく賑やかで程よく静かなカフェ空間を自習室としてご活用ください。何時間でも長居できます。</p>
    </div>    
</div>

<div id="fellow" class="wrapper">
    <h3 class="contents fellow-title">FELLOWという面白い仕掛けがある。</h3>
    <div class="fellow-item">
        <p>木と本fellow（以下、フェロー）は、CAFE木と本を「もっと自分の居場所にする」ために生まれた当店独自の仕組みです。
                特に、おしゃべりできないスペース（No Talking Space）であるライブラリー空間の２階がフェロー専用スペースとなっており、そこを何時間でも利用できる、というのがフェローの目玉と言えます。フェローにならなくても、ロングステイ歓迎のCAFE木と本。ノートーキングスペースも一部は無料で（フェローにならなくても）使用できます。
                しかし、
                月額1,100円（税込）でフェローになれば、
                木と本がもっと快適になること間違いなし。</p>
        <img src="../../img/fellow2.jpeg" alt="自習室">
    </div>    
</div>

<div id="coffee" class="coffee wrapper">
    <h3 class="contents coffee-title">一杯ずつ、丁寧に。</h3>
    <div class="coffee-contents">
        <div class="coffee-item list">
            <img src="../../img/coffee.jpeg" alt="コーヒー">
            <img src="../../img/coffee5.jpeg" alt="">
            <img src="../../img/coffee4.jpeg" alt="">
        </div>   
        <div class="coment">
            <p>CAFE木と本の珈琲は、フレンチプレス式とネルドリップ式から抽出方法を選べます。同じ豆でも、異なるコーヒーの味わいをお楽しみください。</p>
        </div> 
        <a class="coffee-btn" href="">MENU</a>
    </div>
</div>

<div id="food" class="food wrapper">
    <h3 class="contents food-title">カラダが喜ぶ "おいしい" を。</h3>
    <div class="food-contents">
        <div class="coffee-item list">
            <img src="../../img/food1.jpeg" alt="コーヒー">
            <img src="../../img/food2.jpeg" alt="">
            <img src="../../img/food3.jpeg" alt="">
        </div>   
        <div class="coment">
            <p>CAFE木と本の珈琲は、カラダに優しい健康的なフードを提供しております。長時間ステイしていても満足できるボリュームもあります。</p>
        </div> 
        <a class="coffee-btn" href="">MENU</a>
    </div>
</div>

<div id="shopinfo" class="info wrapper">
    <h3 class="contents info-title">店舗情報</h3>
    <div class="info-item">
        <img src="../../img/info.jpeg" alt="自習室">
        <ul>
            <li>カフェ 木と本</li>
            <li>TEL: 0952-37-8803</li>
            <li>営業時間: 【月火金】9:30〜20:45 <br> 【水】11:30〜20:45【土日祝】9:30〜18:00</li>
            <li>定休日: 毎週木曜</li>
            <li>駐車場: 無料(３時間まで無料)駐車場20台以上ございます</li>
        </ul>
    </div>    
    <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6672.721100803197!2d130.299287!3d33.257052!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x4de000aaee1a7194!2zQ0FGRSDmnKjjgajmnKw!5e0!3m2!1sja!2sjp!4v1620287968450!5m2!1sja!2sjp" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
</div>

<footer>
    <div class="footer">
        <div class="logo"><img src="../../img/logo2.svg" alt=""></div>
        <div class="insta"><a href="https://www.instagram.com/cafe_kitohon/?hl=ja" target="_blank"><img src="../../img/insta.png" alt="インスタ" ></a></div>
        <div class="twitter"><a href="https://twitter.com/CAFE_KITOHON?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" target="_blank"><img src="../../img/twitter.png" alt="ツイッター" ></a></div>
        <div class="copy">Copyright © 木と本 All Rights Reserved.</div>
    </div>
</footer>
